@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #747264;
  --text: #FFF
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 2000px;
}

/* .navbar .navbar-tengah a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #B6895B;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-tengah a:hover::after,
.navbar .navbar-tengah a.active::after {
  transform: scaleX(1);
} */

/* .navbar .search-form {
  right: 10%;
  width: 22.5rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
} */

@media (max-width: 768px) {

  .navbar .navbar-tengah {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #FFF;
    width: 10rem;
    height: 100vh;
    transition: 0.3s;
    color: black;
  }

  .navbar .navbar-tengah.active {
    right: 0;
  }

  .navbar .navbar-tengah a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-tengah a:hover::after,
  .navbar .navbar-tengah a.active::after {
    transform: scaleX(0.2);
  }
}